<main>
            <br/>
            <h3>Nossa História</h3>
        <section id="historia">
            <div class="section-container">
                <div class="flex-group">
                    <hgroup>
                    <p>
                    Somos apaixonados por festas, 
                    <br/>
                    adoramos reunir a família, os amigos em volta de uma mesa, conversar, degustar uma boa comida, 
                    <br/>brindar o encontro, ouvir música e dançar... e foi assim que tivemos a ideia de abrir o Rolê Top, e desde então estamos proporcionando o espaço para que vocês também possam,
                    <br/>aproveitar com a gente. Buscamos desde o inicio proporcionar aos nossos clientes um espaço livre, para que eles possam soltar a criatividade e se divertir do inicio ao fim.
                        <br/> Bem... nossa casa é sua casa, trabalhamos para que seus momentos de confraternização sejam maravilhosos, cheios de alegria, 
                            e muita animação, que é o que move o Rolê Top. 
                            <br/>
                            <br/>

                        
                        <p>
                        <h4>Infraestrutura e Serviços</h4>
                        <section id="infra">
                        <br/>
                        320m² de área total 
                        <br/>
                        Cpacidade máxima de até 400 pessoas 
                        <br/>
                        Equipamentos de som e iluminação 
                        <br/>
                        Possui banheiros masculinose femininos  
                        <br/>
                        Saída de emergência 
                        <br/>
                        Sistema anti-incêndio
                        <br/>
                        </p>
                        </section>
                    </div>
            </div>
        </section>
    </main>